body {
	background-image: url('427852.jpg') ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 10px;

	font-family: Magneto;
	color: white;

}
h1 {
	text-align: center;
}
a, h2 {
	color: cyan;
}
p {
	font-size: 30px;
	font-family:Harlow Solid Italic;
	color:white;
}
table, tr, td, th {
	background-color: lightBlue;
	border:3px solid black;
	border-collapse: collapse;
	color: purple;
	font-size: 20px;
	font-family: Times New Roman;
	text-align: center;
}
th, td {
	height: 40px;
}
/*************************************/
.navigation {
	display: inline;
	position: relative;
	width: 30%;
	top: 35px;
}
.timetable {
	position: relative;
	display: inline;
	top: -360px;
	left: 300px;
}
.timetable>p{
	text-indent: 30%;
}
.text {
	position: relative;
	top: -350px;
}
a:hover {
  color: blue;
}
/*************************************/
.photo {
	border: 3px solid cyan;
	border-radius: 15px;
	position: relative;
	left:42.5%;
	width: 200px;
	height: 200px;
}
.photo:hover {
	width: 400px;
	height: 400px;
	left: 36%;
}
	